@import 'tailwindcss';

@import '@fontsource-variable/inter/wght.css';

@theme {
  --color-primary: #a4c9ff;

  --color-secondary: #e3f2fd;

  --color-tertiary: #c28000;

  --color-neutral: #4a5568;

  --font-Inter: 'Inter Variable', sans-serif;
}

@layer base {
  * {
    @apply w-full;
  }
  body {
    @apply font-Inter;
  }
}
