@import 'tailwindcss';

@import '@fontsource-variable/inter/wght.css';

@theme {
  --color-primary: #4a90e2;

  --color-cta: #0062a3;

  --color-secondary: #f9f9ff;

  --color-container: #d4e3ff;

  --color-border: #72777f;

  --color-surface-container: #f0f3ff;
  --color-tertiary: #c28000;

  --color-neutral: #4a5568;

  --font-Inter: 'Inter Variable', sans-serif;
}

@layer base {
  body {
    @apply font-Inter bg-secondary;
  }
}
